@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url("bg.png");
	background-size: 100% 710px;

}
.WhiteBg {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

.header {
	
	top: 0;
	left: 0;
	width: 100%;
	
	background: transparent;
	display: flex;
	justify-content: space-between;
	
}

.logo {
	
	padding-left: 70px;
	padding-top: 20px;
	width: 199px;
	height: 69px;
}

.navbar a {
	display: inline;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	margin-left: 70px;
	transition: .3s;
}

.navbar a:hover,
.navbar a.active{
	 color: #000000;
}

.navbar-content {
	margin-top: 40px;
	margin-right: 200px;

}

.home {
	height: 100vh;
	display: flex;
	
}





.home-content p {
	font-size: 16px;
	color: #FFFFFF;
	width: 400px;
	text-align: justify;
	margin-top: 200px;
	margin-left: 900px;
}

.btn-box-signin {
  background-color: transparent;
  color: #FFFFFF;
  padding: 2px 20px;
  border: 2px solid #FFFFFF;
  border-radius:15px;
  cursor: pointer;
  

}

.Btn-box-signin-align {
	margin-left: 100px;
}
.btn-box-ShowMore {
	background-color: transparent;
  color: #FFFFFF;
  padding: 2px 20px;
  border: 2px solid #FFFFFF;
  border-radius:15px;
  cursor: pointer;
  
  
}
.Home-BtnBox {
	margin-top: 100px;
  margin-left: 1020px;
}

.Home-BtnBox a{
	transition: .3s;
}

.Home-BtnBox a:hover{
	 color: #000000;
}


.ShowMore-arrow {
  margin-top: 10px;
  margin-left: 1070px;
}

.icon-bar {
  margin-top: 70px;
}
.icon-bar img {
  float: left;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
  margin-left: 27px;
}

.icon-bar img:hover {
  opacity: 0.2;
}
h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
  }

  p{
    text-align: center;
    padding-bottom: 15px;
  }
  
  .data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80% - 30px);
    margin-left: 160PX;
    margin-top: 20px;
  }
  
  .data-container div {
    width: 350px;
    height: 450px;
    border-radius: 20px;
    padding: 0px;
    color: #fff;
  }

  .data-container2 {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .data-container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80% - 30px);
    margin-left: 160PX;
    margin-top: 20px;
  }

  footer {
    background-color: black;
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
    padding-top: 50px;
  }
